* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  color: #555;
  font-family: poppins;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.row {
  max-width: 100%;
  margin: 0 auto;
}

.logo {
  display: block;
  position: absolute;
  width: 10%;
  float: left;
  padding-top: 10px;

  margin-left: 70px;
}

.main-nav {
  list-style: none;
  width: 100%;
  padding-bottom: 25px;
  background-color: #035e7b;
  box-shadow: 0 5px 5px #055570;
}

.main-nav li {
  display: inline-block;
  margin-left: 45px;
  margin-top: 15px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: normal;
  font-weight: 300;
  font-size: 100%;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 3px solid #035e7b;
}

.section-form {
  margin-top: 40px;
  margin-bottom: 10px;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  height: 80px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #035e7b;
}

input[type="submit"] {
  color: #fff;
  font-size: 25px;
  background-color: #035e7b;
  padding: 10px 20px;
  float: left;

  border-radius: 20px;
  border: 1px solid #035e7b;
}

input[type="name"] *:focus {
  outline: none;
}

svg:not(:root) {
  overflow: hidden;
  width: 10px;
}
button.button--has-arrow {
  background: none;
  color: #035e7b;
  box-shadow: none;
  float: right;
  padding: 0;
  font-size: 12.5px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: 600;
}

.button.button--has-arrow svg,
button.button--has-arrow svg {
  height: 12px;
  width: 12px;
  fill: #0066f5;
  stroke: #0066f5;
  transition: transform 0.4s ease;
  margin-left: 2px;
  vertical-align: baseline;
  margin-bottom: -0.1em;
}
footer {
  width: 100%;
  position: absolute;
  background: linear-gradient(to top right, #01414ba8, #035e7b);
}

.global {
  width: 100px;
  justify-content: center;
}

.boxI {
  text-align: center;
}

.boxI h5 {
  padding-top: 20px;
  color: #fff;
  text-align: center;
}
.boxI p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.boxII {
  text-align: center;
}
.boxII h5 {
  padding-top: 20px;
  color: #fff;
  text-align: center;
}
.boxII p {
  padding-top: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.boxIII {
  text-align: center;
}
.boxIII h5 {
  padding-top: 20px;
  color: #fff;
}
.boxIII p {
  padding-top: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.boxIV {
  text-align: center;
}
.boxIV h5 {
  padding-top: 20px;
  color: #fff;
}
.boxIV p {
  padding-top: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.input p {
  padding-bottom: 10px;
  font-size: 25px;
  color: #fff;
}

.icons {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 90px;
}
.icons i {
  padding-right: 10px;
  padding-bottom: 20px;
}
.icons p {
  font-size: 25px;
  color: #fff;
}

.icon-face {
  color: #000;
  font-size: 250%;
}
.icon-face:hover {
  color: #fff;
}

.icon-link {
  color: #000;
  font-size: 250%;
}
.icon-link:hover {
  color: #fff;
}
.icon-ins {
  color: #000;
  font-size: 250%;
}
.icon-ins:hover {
  color: #fff;
}
.ei {
  float: right;
  color: #fff;
  font-size: 30px;
  margin-top: 28px;
  margin-right: 14%;
}

.footer-email__field {
  position: relative;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.25);
  padding: 5px 20px;

  padding-bottom: 10px;
  margin-left: 50px;
  margin-top: 20px;

  width: 100%;
  height: 55px;
}
.footer-email__field ::placeholder {
  color: #fff;
  font-size: 20px;
}

button,
input {
  overflow: visible;
}

input[type="email" i] {
  padding: 1px 2px;
}
input[type="hidden" i] {
  display: none;
  appearance: none;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

.button.button--large,
button.button--large {
  padding-top: 0%;
  margin-top: 0%;
  padding-left: 1.8em;
  padding-right: 1.8em;
  font-size: 20px;
  letter-spacing: 0.8px;
  text-transform: normal;
  font-weight: 400;
}
.button.button--light,
button.button--light {
  height: 100%;
  color: #fff;
  border: none;
  background-color: #6cbcfc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer-email__field input[type="email"] {
  color: #fff !important;
  font-size: 1.4rem;
  background-color: transparent;
  border: 0;
  padding: 0;
  height: 40px;
  max-width: 58%;
}

.footer-email__field button {
  position: absolute;
  right: 0px;
  top: 0;
}
.grid.middle-xs {
  align-items: center;
}
form {
  display: block;
  margin-top: 0em;
}
.last {
  margin-top: 5%;
  margin-left: 70%;
  margin-bottom: 40px;
}

.last p {
  color: #fff;
}
